@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
.contact {
  background-color: #fff;
}
.contact .contain {
  display: flex;
  height: 600px;
  background-color: #fff;
}
.contact .left {
  padding-left: 5rem;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  background-color: var(--tomato);
  flex-direction: column;
  justify-content: center;
}
.contact .right {
  width: 50%;
  flex: 1;
  background-color: black;
  transition: 1s;
  background-image: url("../../images/image-14.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.contact .header > h2 {
  margin: 0;
  color: #4f46a5;
}
.contact .header > h4 {
  margin-top: 10px;
  font-weight: normal;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.contact .form {
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
.form > p {
  text-align: right;
}
.form > p > a {
  color: #fff;
  font-size: 14px;
}
.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  outline: 0;
  transition: 0.2s;
  margin-top: 20px;
}
.form-field:focus {
  border-color: #0f7ef1;
}
.form > button {
  margin-top: 1.3rem !important;
  padding: 12px 10px;
  border: 0;
  background: var(--mango);
  border-radius: 3px;
  margin-top: 10px;
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 3rem;
  border: 2px solid var(--tomato);
  transition: all .35s ease;
}
.form > button:hover {
  background: transparent;
  color: var(--mango);
  border: 2px solid var(--mango);
}
.header h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #fff !important;
}
@media(max-width:992px){
  .contact .contain{
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .contact .left, .contact .right{
    width: 100%;
  }
  .contact .left{
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact .left .form{
    width: 100%;
  }
  .contact .right{
    display: none !important;
  }
}
@media(max-width:640px){
  .contact .left .form{
    width: 100%;
  }
  .contact .contain{
    height: auto;
  }
  .contact .left{
    padding: 2rem 10px;
    margin-bottom: 0;
  }
  .header h2{
  text-align: center;
  font-size: 1.7rem;
}
}
