img {
  max-width: 100%;
  height: auto;
}
.services{
  margin-top: 5rem !important;
  padding-top: 6rem; 
  padding-bottom: 3rem;
}
.services .section-head h4{
  margin-bottom: 5rem;
}
.section-head {
  margin-bottom: 30px;
}
.section-head h4 {
  position: relative;
  padding: 0;
  color: var(--mango);
  line-height: 1;
  letter-spacing: 0.3px;
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
}
.section-head h4:before {
  content: "";
  width: 60px;
  height: 3px;
  background: var(--tomato);
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  margin: 0 auto;
}
.section-head h4 span {
  font-family: "Paytone One", sans-serif;
  letter-spacing: 1.5px;
  font-weight: 500;
  padding-bottom: 5px;
  font-size: 2.7rem;
  color: var(--tomato);
}
/*  */
.services .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.services h3 {
  color: #262626;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}
.services p {
  font-size: 19px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
p.small {
  font-size: 14px;
}
.services .go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: var(--tomato);
  border-radius: 0 4px 0 32px;
}
.services .go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}
.services-card {
  display: block;
  position: relative;
  max-width: 300px;
  background-color: #f2f8f9;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 14px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  box-shadow: 0 3px 10px .5px #1818184d;
}
.services-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.services-card:hover:before {
  transform: scale(21);
}
.services-card:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.services-card:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
